html {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}


body {
    background-color: #60a9ff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.panel {
    background-color: white;
    border-radius: 10px;
    padding: 15px 25px;
    width: 100%;
    max-width: 960px;
    max-height: 670px;
    display: flex;
    flex-direction: column;
    text-align: center;

}



.pricingpanel {
    border-right: 1px solid #e1f1ff;
    padding: 25px 50px;
}

.pricingpanel:last-child {
    border-right: none;
}

.img {
    margin: 25px;
    max-width: 100%;

}

.heading {
    color: #888;
    font-weight: 600;
    letter-spacing: 1px;
}

.pricingfeatures {
    color: #016ff9;
    font-weight: 600;
    margin: 50px 0 25px;
}

.features {
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 10px;
    line-height: 1.5;
    border-top: 1px solid #e1f1ff;
    padding: 15px 15px;
}

.features:last-child {
    border-bottom: 1px solid #e1f1ff;
    padding: 25px;
}

.price {
    color: #016ff9;
    font-size: 32px;
    font-weight: 900;

}

.button {
    border: 1px solid #9dd1ff;
    border-radius: 10px;
    color: #348efe;
    padding: 15px 35px;
    text-decoration: none;
    display: inline-block;
    margin: 25px;
    transition: background-color 200ms ease-in-out;
}

.button:hover,
.button:focus {
    background-color: #e1f1ff;
}

.button.is-featured {
    background-color: #48aaff;
    color: white;
}

.button.is-featured:hover,
.button.is-featured:focus {
    background-color: #269aff;
    color: white;
    transition: background-color 200ms ease-in-out;
}

@media (min-width: 900px) {
    .panel {
        flex-direction: row;
    }
}